# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://ravikumarbha2025_db_user:CVSlWTPauQC44pKW@ravi-nail.0ly3zlo.mongodb.net/?retryWrites=true&w=majority&appName=ravi-nail

# Email Configuration (Gmail example)
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
ADMIN_EMAIL=admin@yourbusiness.com

# Next.js
NEXTAUTH_SECRET=your-secret-key
NEXTAUTH_URL=http://localhost:3000
